<h1>Eigenes Konto bearbeiten!</h1>

<%= render 'form' %>

<p><a href="<%= url_for user_destroy_path(:id => @user.id) %>" data-confirm="Sind Sie sich sicher?">Konto deaktiviren</a> |

<%= link_to 'Benutzer zeigen', @user %></p>
