<div><%= image_tag "/images/layout/015_welcome.png" %></div>
<p>Die moerse versteht sich als Marktplatz für Waren und Dienstleistungen, die sich gewöhnlichen monetären Handelsformen entziehen.
Frei nach dem Motto „Alles ist verhandelbar“ kann mit der mörse verhandelt und getauscht werden, was üblicherweise unverhandelbar bleibt.
Für keine in der mörse  verhandelten Ware existiert ein Gegenwert in üblichen Währungen. Der spezifische Tauschwert einzelner Produkte und Dienstleistungen ergibt sich erst aus den Verhandlungen zwischen zwei Anbietern unterschiedlicher Waren.</p>

<p>Wieviel sind Anderen Ihre persönlichen Gebete wert? Was würden Sie für das Gefühl des Kindseins alles geben? Ist eine musische Kraft soviel wert wie ein Gesunder Geist?</p>

<p>Finden Sie es heraus! Die mörse ermöglicht Ihnen, den geeigneten Tauschhändler für fast Alles zu finden.
Lassen Sie sich auf dieses Experiment ein, und erwerben Sie, wovon Sie schon immer geträumt haben und tauschen es gegen Dinge, mit denen Sie schon immer jemand anderen begeistern wollten.</p>