<h1>AGB!</h1>

<span class="list-head">§1 Geltung gegenüber Unternehmern und Begriffsdefinitionen</span><br/>
<p>(1) Die nachfolgenden Allgemeinen Geschäftbedingungen gelten für alle Lieferungen zwischen uns und den Benutzern in ihrer zum Zeitpunkt der Bestellung gültigen Fassung.</p>

<p>(2) „Benutzer“ in Sinne dieser Geschäftsbedingungen ist jede natürliche Person, die ein Rechtsgeschäft zu einem Zwecke abschließt, der weder ihrer gewerblichen noch ihrer selbständigen beruflichen Tätigkeit zugerechnet werden kann.</p>

<span class="list-head">§2 Zustandekommen eines Vertrages, Speicherung des Vertragstextes</span><br/>
<p>(1) Die folgenden Regelungen über den Vertragsabschluss gelten für Tauschgeschäfte über http://emw.fh-potsdam.de/moerse.</p>

<p>(2) Im Falle des Tauschabschlusses kommt der Tauschvertrag mit<br/>
<b>moerse<br/>
J. Boxler, L. Harzem, A. Lederle<br/>
moersenweg 1<br/>
D-10245 Berlin<br/>
Registernummer HRA 15397<br/>
Registergericht Berlin<br/>

oder einem anderen Benutzer der moerse zustande.</b></p>

<p>(3) Die Präsentation der Waren in der moerse stellen kein rechtlich bindendes Vertragsangebot unsererseits dar, sondern sind nur eine unverbindliche Aufforderungen an den Benutzer, Waren zu tauschen. Mit einer Tauschanfrage der gewünschten Ware gibt der Benutzer ein für ihn verbindliches Angebot auf Abschluss eines Tauschvertrags ab. Die Annahme des Angebots erfolgt schriftlich oder in Textform oder durch Übersendung der bestellten Ware innerhalb von einer Woche. Nach fruchtlosem Ablauf der Frist gilt das Angebot als abgelehnt.</p>

<p>(4) Bei Eingang eines Tauschvorschlags in der moerse gelten folgende Regelungen: Der Benutzer gibt ein bindendes Vertragsangebot ab, indem er die in der moerse vorgesehene Tasuchprozedur erfolgreich durchläuft.</p>

<p>Die Bestellung erfolgt in folgenden Schritten:

<ol>
	<li>Anmeldung im Internetshop nach Registrierung und Eingabe der Anmelderangaben (E-Mail-Adresse und Passwort).</li>
	<li>Auswahl der gewünschten Ware</li>
	<li>Bestätigen durch Anklicken der Buttons „Tausch vorschlagen“</li>
	<li>Prüfung des Tauschverhältnisses</li>
	<li>Betätigung durch den Inhaber der zu tauschenden Ware</li>
	<li>Nochmalige Prüfung bzw. Berichtigung der jeweiligen eingegebenen Daten.</li>
	<li>Verbindliche Absendung der Tausche.</li>
</ol></p>

<p>Der Benutzer kann vor dem verbindlichen Absenden der Tausche durch Betätigen der in dem von ihm verwendeten Internet-Browser enthaltenen „Zurück“-Taste nach Kontrolle seiner Angaben wieder zu der Internetseite gelangen, auf der die Angaben des Benutzers erfasst werden und Eingabefehler berichtigen bzw. durch Schließen des Internetbrowsers den Bestellvorgang abbrechen. Wir bestätigen den Eingang der Bestellung unmittelbar durch eine automatisch generierte E-Mail (Eingangsbestätigung). Diese stellt noch keine Annahme des Angebotes dar. Die Annahme des Angebots erfolgt schriftlich, in Textform oder durch Übersendung der bestellten Ware innerhalb einer Woche.</p> 

<p>(5) Speicherung des Vertragstextes bei Tauschgeschäften über die moerse : Wir speichern den Vertragstext und senden Ihnen die Bestelldaten und unsere AGB per E-Mail zu. Die AGB können Sie jederzeit auch unter http://emw.fh-potsdam.de/moerse/home einsehen. Ihre vergangenen Tausche können Sie in unserem Kunden-Bereich unter Mein Konto --> Abgeschlossene Tausche einsehen.</p>

<span class="list-head">§3 Preise, Versandkosten, Zahlung, Fälligkeit</span><br/>
<p>(1) Die angegebenen Tauschwerte enthalten die gesetzliche Umsatzsteuer und sonstige Preisbestandteile. Hinzu kommen etwaige Versandkosten.</p>

<p>(2) Der Benutzer hat die Möglichkeit der Tausche per Nachnahme anzubieten.</p>

<p>(3) Soweit wir per Nachnahme liefern, tritt die Fälligkeit des Gegentauschs mit Erhalt der Ware ein.</p>

<span class="list-head">§4 Lieferung</span><br/>
<p>(1) Sofern wir dies in der Produktbeschreibung nicht deutlich anders angegeben haben, sind alle von uns angebotenen Artikel nicht sofort versandfertig.</p>

<span class="list-head">§5 Eigentumsvorbehalt</span><br/>
<p>Alle Benutzer behalten sich das Eigentum an der Ware bis zur vollständigen Aushandlung des Tauschwerts vor. </p>

****************************************************************************************************

<h2>§6 Widerrufsrecht</h2>

<span class="list-head">Widerrufsbelehrung</span><br/>
<p>Sie können Ihre Tauscherklärung innerhalb von 14 Tagen ohne Angabe von Gründen in Textform (z. B. Brief, Fax, E-Mail) widerrufen. Die Frist beginnt nach Erhalt dieser Belehrung in Textform,  aber nicht vor Erfüllung unserer Informationspflichten gemäß Artikel 246 § 2 in Verbindung mit § 1 Abs. 1 und 2 EGBGB sowie unserer Pflichten gemäß § 312e Abs. 1 Satz 1 BGB in Verbindung mit Artikel 246 § 3 EGBGB. Zur Wahrung der Widerrufsfrist genügt die rechtzeitige Absendung des Widerrufs oder der Sache. </p>

<p><b>Der Widerruf ist zu richten an:
moerse<br/>
J. Boxler, L. Harzem, A. Lederle<br/>
moersenweg 1<br/>
D-10245 Berlin<br/>
E-Mail die.moerse@googlemail.com</b></p>

<span class="list-head">Widerrufsfolgen</span><br/>
<p>Im Falle eines wirksamen Widerrufs sind die beiderseits empfangenen Leistungen zurückzugewähren und ggf. gezogene Nutzungen (z. B. Zinsen) herauszugeben. Können Sie ihrem Tauschpartner die empfangene Leistung ganz oder teilweise nicht oder nur in verschlechtertem Zustand zurückgewähren, müssen Sie ihm insoweit ggf. Wertersatz leisten. Die Frist beginnt für Sie mit der Absendung Ihrer Widerrufserklärung oder der Sache, für uns mit deren Empfang.</p>

<span class="list-head">Besondere Hinweise</span><br/>
<p>Bei einer Dienstleistung erlischt Ihr Widerrufsrecht vorzeitig, wenn Ihr Tauschpartner mit der Ausführung der Dienstleistung mit Ihrer ausdrücklichen Zustimmung vor Ende der Widerrufsfrist begonnen hat oder Sie diese selbst veranlasst haben. </p>

<span class="list-head">Ende der Widerrufsbelehrung</span><br/>

<p>***************************************************************************************************</p>

<span class="list-head">§7 Vertragliche Regelung bezüglich der Rücksendekosten bei Widerruf</span><br/>
<p>Sollten Sie von Ihrem Widerrufsrecht Gebrauch machen, so gilt im Einklang mit § 357 Abs. 2 BGB, folgende Vereinbarung, das Rücktauschen ist für Sie kostenfrei.</p>

<span class="list-head">§8 Vertragsprache</span><br/>
<p>Als Vertragssprache steht ausschließlich Deutsch zur Verfügung.</p>


Stand der AGB: Mär. 2012