<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<style type="text/css">
	body {
		font-family: monospace;
		font-weight: bold;
		font-size: 13px;
		color: #333333;
		line-height: 18px;
	}

	a {
	  color: #000;
	  &:visited {
		color: #666; }
	  &:hover {
		color: #333333; } }
	</style>
  </head>
  <body>
    <h2>Willkommen in der moerse!</h2>
	<p>Hallo <%= @receivingUser %>!</p>
	<p>Wir freuen uns, Sie in der moerse begrüßen zu dürfen. Ab sofort können Sie mit dem Tauschen loslegen. So einfach geht es:</p>
	<ol>
		<li>Loggen Sie sich ein.</li>
		<li>Klicken Sie auf <b>Alle Produkte</b> und scrollen Sie runter bis <b>Produkt erstellen</b>.<br/>
			Hier können Sie Ihr Tauschprodukt eintragen, was Sie gern anbieten möchten.</li>
		<li>Nun können Sie unter <b>Alle Tausche</b> Ihre ganz persönlichen Tauschoptionen gegen Ihr erstelltes Produkt nach Belieben vorschlagen!</li>
	</ol>
	<p>Viel Spass und Guten Tausch wünscht<br/>
	Ihre moerse</p>
  </body>
</html>