<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<style type="text/css">
	body {
		font-family: monospace;
		font-weight: bold;
		font-size: 13px;
		color: #333333;
		line-height: 18px;
	}

	a {
	  color: #000;
	  &:visited {
		color: #666; }
	  &:hover {
		color: #333333; } }
	</style>
  </head>
  <body>
    <h2>Neues Passwort f&uuml;r die moerse</h2>
    <p>Sie haben ein Passwort f&uuml;r den Login "<%= @loginName %>" generieren lassen.</p>
    <p>Es lautet: "<%= @newPw %>"</p>
	<p>Unter <a href="http://www.moerse.tk">moerse.tk</a> können Sie sich nun wieder einloggen.</p>
	<p>Herzlichst<br/>
	Ihre moerse</p>
  </body>
</html>